@font-face {
  font-family: "iconfont"; /* Project id 3885760 */
  src: url('iconfont.woff2?t=1677071049762') format('woff2'),
       url('iconfont.woff?t=1677071049762') format('woff'),
       url('iconfont.ttf?t=1677071049762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu_follow-01:before {
  content: "\e611";
}

.icon-shangchuan:before {
  content: "\100ff";
}

.icon-tongji:before {
  content: "\10100";
}

.icon-wenjianjia1:before {
  content: "\10101";
}

.icon-banquan:before {
  content: "\10102";
}

.icon-xiangji:before {
  content: "\10103";
}

.icon-bianji:before {
  content: "\10104";
}

.icon-xiaoxi:before {
  content: "\10105";
}

.icon-wode:before {
  content: "\10106";
}

.icon-lvhang:before {
  content: "\10107";
}

.icon-lishijilu:before {
  content: "\10108";
}

.icon-jianxiaoyinliang:before {
  content: "\10109";
}

.icon-direction-down:before {
  content: "\e674";
}

.icon-download:before {
  content: "\e675";
}

.icon-electronics:before {
  content: "\e676";
}

.icon-drag:before {
  content: "\e677";
}

.icon-elipsis:before {
  content: "\e678";
}

.icon-export:before {
  content: "\e679";
}

.icon-eye-close:before {
  content: "\e67a";
}

.icon-error:before {
  content: "\e67b";
}

.icon-favorite:before {
  content: "\e67c";
}

.icon-file-delete:before {
  content: "\e67d";
}

.icon-file-add:before {
  content: "\e67e";
}

.icon-fabulous:before {
  content: "\e67f";
}

.icon-forward:before {
  content: "\e680";
}

.icon-keyboard-9:before {
  content: "\e681";
}

.icon-link:before {
  content: "\e682";
}

.icon-layout:before {
  content: "\e683";
}

.icon-map:before {
  content: "\e684";
}

.icon-meh:before {
  content: "\e685";
}

.icon-minus-circle:before {
  content: "\e686";
}

.icon-notification:before {
  content: "\e687";
}

.icon-pad:before {
  content: "\e688";
}

.icon-operation:before {
  content: "\e689";
}

.icon-minus:before {
  content: "\e68a";
}

.icon-refresh:before {
  content: "\e68b";
}

.icon-pin:before {
  content: "\e68c";
}

.icon-select:before {
  content: "\e68d";
}

.icon-arrow-left-bold:before {
  content: "\e68f";
}

.icon-arrow-up-bold:before {
  content: "\e690";
}

.icon-close-bold:before {
  content: "\e691";
}

.icon-arrow-down-bold:before {
  content: "\e692";
}

.icon-minus-bold:before {
  content: "\e693";
}

.icon-arrow-right-bold:before {
  content: "\e694";
}

.icon-select-bold:before {
  content: "\e695";
}

.icon-3column:before {
  content: "\e663";
}

.icon-column-4:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e665";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-adjust:before {
  content: "\e667";
}

.icon-arrow-up-circle:before {
  content: "\e668";
}

.icon-arrow-right-circle:before {
  content: "\e669";
}

.icon-arrow-down:before {
  content: "\e66a";
}

.icon-ashbin:before {
  content: "\e66b";
}

.icon-browse:before {
  content: "\e66d";
}

.icon-bottom:before {
  content: "\e66e";
}

.icon-back:before {
  content: "\e66f";
}

.icon-bad:before {
  content: "\e670";
}

.icon-arrow-double-left:before {
  content: "\e671";
}

.icon-arrow-left-circle:before {
  content: "\e672";
}

.icon-arrow-double-right:before {
  content: "\e673";
}

